.about-me {
  width: 70%;
  height: auto;
  padding: 50px 10px 50px 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
  .title-about {
    font-size: 40px;
    color: #646cff;
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }

  .section-about {
    width: 100%;
    display: grid;
    gap: 20px;
    .details {
      font-size: 25px;
      font-weight: 500;
      color: #000000;
      font-family: "Inconsolata", monospace;
      text-align: start;
    }
    .button-cv {
      padding: 12px;
      border: 1.5px solid #646cff;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      color: #000;
      border-radius: 5px;
      font-family: system-ui; 
      box-shadow: 0 0 10px #646cff;
      &:hover {
        transition: background-color 0.5s;
        background-color: #646cff;
        color: #fff;
      }
    }
  }
}

.about-me.dark {
  .section-about {
    .button-cv {
      background-color: #7be4b1;
      color: #000;
      transition: .5s;
      &:hover {
        box-shadow: 0 0 20px #7be4b1;
        transition: .5s;
      }
    }
    .details {
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .about-me {
    width: 100%;
  }
}
