.about-me {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  .title-about {
    font-size: 30px;
    color: #0070f2;
    text-align: start;
    font-family: "Roboto Mono", monospace;
    padding-bottom: 10px;
  }
  .section-about {
    width: 100%;
    display: grid;
    gap: 20px;
    padding: 12px;
    .details-about {
      font-size: 25px;
      font-weight: 500;
      color: #000000;
      font-family: "Inconsolata", monospace;
      text-align: start;
    }
    .button-cv {
      padding: 12px;
      border: 1px solid #000;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      color: #000;
      border-radius: 5px;
      font-family: "Roboto Mono", monospace;
      background-color: transparent;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        border-color: #0070f2;
        background-color: #0070f2;
        color: #fff;
      }
    }
  }
}

.about-me.dark {
  .section-about {
    .button-cv {
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      transition: 0.5s;
      &:hover {
        background-color: #fff;
        color: #000;
        transition: 0.5s;
      }
    }
    .details-about {
      color: #a0a0a0;
    }
  }
}

@media (max-width: 768px) {
  .about-me {
    width: 100%;
  }
}
