.section-about {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    border-top: 1px solid #aaa;

}

.title-section-about {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #ddd;
}   

.container-details{
    padding-top: 10px;
}

.details-section-about{
    line-height: 1.5;
    font-size: 18px;
    color: #ddd;
}

.b {
    color: #1898e4;
}

.light .title-section-about {
    color: #101010;
}

.light .details-section-about {
    color: #202020;
}

@media (max-width: 768px) {
    .section-about {
        height: auto;
    }
    .container-details {
        flex-direction: column;
    }
    .image-logo {
        margin: auto;
    }
}
