.card-project {
  width: 450px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  background: #404040;
  background: radial-gradient(
    circle farthest-corner at top right,
    #404040 0%,
    #101010 30%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at top right,
    #404040 0%,
    #101010 30%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at top right,
    #404040 0%,
    #101010 30%
  );
  position: relative;
  z-index: 99;
}

.container-details-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
}

.aprox {
    filter: blur(5px);
}

.title-aprox {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #fff;
    transform: translate(-50%, -50%);
}

.header-card-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-card {
  font-size: 30px;
  color: #fff;
}

.date-card {
  color: #eee;
}

.description-card {
  font-size: 18px;
  color: #ddd;
}

.icons-card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.links-card {
  display: flex;
  gap: 14px;
  align-items: center;
}

.link-card {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #41dfff;
  transition: 0.5s;
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
}

.link-card:hover {
  color: #000;
  background-color: #fff;
  border-color: transparent;
  transition: 0.5s;
}

.title-link {
    color: #ddd;
}

@media (max-width: 768px) {
  .card-project {
    flex-direction: column;
  }
  .image-card {
    width: 100%;
    height: 400px;
    object-fit: fill;
  }
}
@media (max-width: 480px) {
  .image-card {
    height: 300px;
  }
}

