.card-project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #86A8E7;
    border-radius: 10px;
}

.image-card {
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.container-details-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
}
.header-card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-card {
    font-size: 34px;
    color: #fff;
}

.date-card {
    color: #eee;
}
.description-card {
    font-size: 18px;
    color: #ddd;
}
.icons-card {
    display: flex;
    gap: 10px;
    align-items: center;
}

.links-card {
    display: flex;
    gap: 14px;
    align-items: center;
}

.link-card {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #ddd;
    transition: .5s;
    padding: 10px;
    border-radius: 5px;
}
.link-card:hover {
    color: #fff;
    background-color: #86A8E7;
    border-color: transparent;
    transition: .5s;
}

@media (max-width: 768px) {
    .card-project {
        flex-direction: column;
    }
    .image-card {
        width: 100%;
        height: 400px;
        object-fit: fill;
    }
}
@media (max-width: 480px) {
    .image-card {
        height: 300px;
    }
}



