.card-project {
  width: 450px;
  height: 210px;
  background: #121212;
  border-radius: 3px;
  border: 2px solid #292929;
  text-decoration: none;
  transition: border .5s;

}
.card-project:hover {
  border-color: #fff;
  transition: border .5s;
}

.container-details-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
}

.header-card-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-card {
  font-size: 30px;
  color: #fff;
}

.date-card {
  color: #eee;
  font-size: 16px;
}

.description-card {
  font-size: 18px;
  color: #ddd;
}

.icons-card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.light .card-project {
  background-color: #eaeaea90;
  border: 1px solid  #ddd;
}

.light .card-project:hover {
  border-color: #808080;
}

.light .title-card {
  color: #202020;
}
.light  .date-card {
  color: #202020;
}
.light .description-card {
  color: #303030;
}



@media (max-width: 1024px) {
  .card-project {
    width: 100%; 
    flex-direction: column;
  }
}
