.footer {
    width: 100%;
    padding: 10px;

    .title-footer{
        font-size: 30px;
        padding-bottom: 16px;
        font-family: "Roboto Mono", monospace;
    }
    .section-contacts {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-family: "Inconsolata", monospace;
        a {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            font-size: 20px;
            color: #000;
            font-weight: bold;
        }
            .correo {
                font-size: 18px;
            }
        
       
    }

    .copyright {
        font-family: "Inconsolata", monospace;
        padding: 20px;
        text-align: center;
    }
       

}

.footer.dark {
    .title-footer{
        color: #646cff;
    }
    .section-contacts {
        color: #fff;
        a {
            color: #fff;
        }
    }
    .copyright {
        color: #fff;
    }


}