.footer {
    width: 100%;
    padding: 10px;
    display: grid;
    gap: 16px;
    .title-footer{
        font-size: 30px;
    }
    .section-contacts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .box-correo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .correo {
                font-size: 18px;
            }
        }
    }
}

.footer.dark {
    .title-footer{
        color: #fff;
    }
    .section-contacts {
        color: #fff;
    }
}