.section-grilla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    border-top: 1px solid #aaa;
   
}

.grilla {
    width: 100%;
}

.section-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.link-box {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    background-color: #121212;
}

.link-box:hover {
    background-color: #fff;
    color: #000;
    transition: .5s;
    border-color: transparent;
}

.light .link-box {
    background-color: #d7d7d790;
    color: #202020;
    transition: .5s;
}

.light .link-box:hover {
    border: 1px solid #808080;
    transition: .5s;
}

@media (max-width: 768px) {

    .grilla {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section-links {
        display: flex;
        justify-content: space-between;
    }
}
