.header-menu {
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 5px #000;
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  .section-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      display: none;
      cursor: pointer;
    }
  }
  .navbar {
    .box-enlaces {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px;
      .enlaces-nav {
        text-decoration: none;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        transition: 0.5s;
        height: 100%;
        &:hover {
          border-bottom: 1px solid #000;
          transition: 0.2s;
        }
      }
      .icon-idioma {
        width: 35px;
        height: 35px;
        background-color: #a0a0a0;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 10px #000;
        }
      }
    }
  }
}

.header-menu.dark {
  .navbar {
    .box-enlaces {
      .enlaces-nav {
        color: #fff;
        border-color: #fff;
      }
      .icon-idioma {
        &:hover {
          box-shadow: 0 0 10px #fff;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .header-menu {
    flex-direction: column;
    .section-responsive {
      width: 100%;
      .menu {
        display: flex;
        border-radius: 10px;
        background-color: #fff;
        padding: 5px;
      }
    }
    .navbar {
      .box-enlaces {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0vh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
        padding: 0;
        .enlaces-nav {
          height: 20px;
        }
      }
      .active {
        height: 60vh;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease-in-out;

      }
    }
  }
}
