.header {
  width: 70%;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 999;
}

.icon-menu {
  display: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b6f;
  padding: 10px;
  border-bottom:1px solid #aaa;
}
.title-author {
  color: #fff;
}
.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link-nav {
  color: #aaa;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
.link-sub:hover {
  color: #fff;
  border-color: #1898e4;
  transition: 0.5s;
}

.header.open {
  width: 100%;
}
.open .nav .sub-nav {
  opacity: 1;
  visibility: visible;
}
.open .nav {
  height: auto;
  transition: 0.5s;
  background-color: #1b1b1b6f;
}
.open .title-author  {
  display: flex;
}

.light .link-nav{
  color: #202020;
}
.light  .title-author{
  color: #202020;
}
.light .link-nav{
  color: #202020;
}
.light .nav {
  background-color: #d7d7d790;
  border-bottom-color: #808080;
}



@media (max-width: 768px) {
  .header {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
  }
  .icon-menu {
    display: flex;
  }
  .nav {
    width: 100%;
    height: 60px;
    background-color: transparent;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    border-radius: 0;
    border: none; 
  }
  .sub-nav {
    opacity: 0;
    flex-direction: column;
    visibility: hidden;
    align-items: flex-start;
  }
  .title-author  {
    display: none;
  }
}
