.main-home {
  width: 70%;
  height: 100vh;
  margin: auto;
  .section-main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .section-info {
      width: 100%;
      display: grid;
      gap: 12px;
      font-family: "Inter", sans-serif;
      .title-home {
        font-size: 70px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #ec4789, #ef4449, #e9ab0c);
      }
      .subtitle-home {
        font-size: 60px;
        color: #000;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #7be4b1, #0070f2, #8737ea);
      }
      .details-home {
        width: 100%;
        font-size: 28px;
        font-weight: 500;
        color: #000;
        font-family: "Inconsolata", monospace;
        text-wrap: balance;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .effects-titles {
          font-weight: bold;
        }
      }
      .box-enlaces {
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        img {
          transition: 0.5s;
          &:hover {
            transition: 0.5s;
            transform: scale(1.2);
          }
        }
      }
      .button-cv {
        width: 200px;
        padding: 10px;
        border: 1px solid #000;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
        transition: 0.5s;
        margin: auto;
        font-family: "Roboto Mono", monospace;
        background-color: transparent;
        &:hover {
          transition: 0.5s;
          border-color: #0070f2;
          background-color: #0070f2;
          color: #fff;
        }
      }
    }
  }
}

.main-home.dark {
  .section-main {
    .section-info {
      .details-home {
        color: #a0a0a0
      }
       .button-cv {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        transition: .5s;
        &:hover {
          background-color: #fff;
          color: #000;
          transition: .5s;
        }
      }
    }

  }
}

@media ((min-width: 621px) and (max-width: 1020px)) {
  .main-home {
    width: 100%;
    height: auto;
    padding: 12px;
    .section-main {
      .section-info {
        .title-home {
          font-size: 70px;
        }
        .subtitle-home {
          font-size: 50px;
        }
        .details-home {
          font-size: 25px;
        }

      }
    }
  }
}
@media (max-width: 620px) {
  .main-home {
    width: 100%;
    .section-main {
      .section-info {
        padding-top: 40px;
        gap:10px;
        .title-home {
          font-size: 60px;
        }
        .subtitle-home {
          font-size: 35px;
        }
        .details-home {
          font-size: 25px;
          text-wrap: balance;
          flex-direction: column;
        }

      }
    }
  }
}
@media (max-width: 425px) {
  .main-home {
    width: 100%;
    .section-main {
      .section-info {
        padding-top: 40px;
        gap:10px;
        .title-home {
          font-size: 50px;
        }
        .subtitle-home {
          font-size: 25px;
        }
        .details-home {
          font-size: 25px;
          text-wrap: balance;
        }

      }
    }
  }
}