.section-projects {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 14px;
  padding-bottom: 100px;
  padding-top: 70px;
  .title-projects {
    font-size: 30px;
    color: #0070f2;
    text-align: start;
    font-family: "Roboto Mono", monospace;
    padding-bottom: 10px;
  }
  .list-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .item-project {
    width: 350px;
    height: auto;
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
    background-color: #1b1e24;
    box-shadow: 0 0 8px #000;
    &.other {
      height: 315px;
      padding: 18px;
      display: flex;
      align-items: center;
      background-image: linear-gradient(
        to top,
        #000000,
        #0e0e0e,
        #181818,
        #202020,
        #282828
      );
      .box {
        .title {
          font-size: 25px;
          color: #fff;
          font-family: "Roboto Mono", monospace;
        }
        text-align: center;
        display: grid;
        gap: 16px;
        color: #a0a0a0;
        .box-enlaces {
          margin: auto;
        }
      }
    }
    .box {
      padding: 10px;
      font-family: "Inconsolata", monospace;
      display: grid;
      gap: 12px;
      .icons {
        display: flex;
        gap: 10px;
      }
      .box-enlaces {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .enlace-visit {
          border: 1.5px solid #faebd7;
          color: #a0a0a0;
          padding: 10px;
          text-decoration: none;
          font-size: 16px;
          border-radius: 3px;
          transition: background-color 0.5s;
          font-family: "Roboto Mono", monospace;
          &:hover {
            background-color: #faebd7;
            color: #000;
            transition: background-color 0.5s;
          }
        }
      }
    }
    .img-project {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
}

@media (max-width: 890px) {
  .section-projects {
    .list-projects {
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .section-projects {
    width: 100%;
    padding: 12px;
    .list-projects {
      gap: 25px;
      .item-project {
        width: 100%;
        height: 320px;
      }
      .box {
        .box-enlaces {
          .enlace-visit {
            background-color: #faebd7;
            color: #000;
          }
        }
      }
    }
  }
}
