.section-projects{
    width: 100%;
    padding: 10px 10px 60px 10px;
    border-top: 1px solid #aaa;

}

.title-section-projects {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 30px;
    color: #eee;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .projects {
        justify-content: center;
    }
}