.section-projects {
  width: 70%;
  margin: auto;
  display: grid;
  gap: 14px;
  padding-bottom: 100px;
  padding-top: 100px;
  .title-projects {
    font-size: 40px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    color: #646cff;
  }
  .list-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    }
    .item-project {
      width: 350px;
      height: auto; 
      border: 3px solid #646cff;
      border-radius: 10px;
      transition: 0.5s;
      color: #fff;
      background-color: #000000dc;
      box-shadow: 0 0 8px #646cff;
    }
    img {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
   
    .box {
      padding: 10px;
      font-family: "Inconsolata", monospace;
      display: grid;
      gap: 12px;
      .box-enlaces {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .enlace-visit {
          border: 1.5px solid #faebd7;
          color: #fff;
          padding: 10px;
          text-decoration: none;
          font-size: 20px;
          border-radius: 3px;
          transition: background-color .5s;
          &:hover {
            background-color: #faebd7;
            color: #000;
            transition: background-color .5s;
          }
      }
      }
      
    }
  }


@media (max-width: 768px) {
  .section-projects {
    width: 100%;
    .list-projects {
      .item-project {
        width: 100%;
      }
      .box {
        .box-enlaces{
          .enlace-visit {
            background-color: #faebd7;
            color: #000;
          }
        }
      }
    }
  }
}
