.section-projects{
    width: 100%;
    padding: 10px;
}

.title-section-projects {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 30px;
    color: #eee;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

