.section-projects{
    width: 100%;
    padding: 10px;
}

.title-section-projects {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 30px;
    color: #eee;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}




