.section-skills {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    border-top: 1px solid #aaa;

}

.title-section-skills {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 30px;
    color: #ddd;
}

.detail-section-skills {
    padding-bottom: 20px;
    color: #ddd;
}

.container-lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.list-skills {
    width: 100%;
    display: flex;

    justify-content: space-between;
} 


.skill {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



@media (max-width: 768px) {
    .section-skills {
        height: auto;
    }
    .container-lists {
        justify-content: center;
        
    }

}

