.section-skills {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.title-section-skills {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 30px;
    color: #ddd;
}

.detail-section-skills {
    padding-bottom: 20px;
    color: #ddd;
}

.container-lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.list-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
} 


.skill {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




@media (max-width: 768px) {
    .section-skills {
        height: auto;
    }

}

