.section-skills {
  width: 70%;
  height: auto;
  margin: auto;
  padding: 10px;
  display: grid;
  gap: 30px;
  padding-bottom: 100px;
  .title-skills {
    font-size: 40px;
    color: #646cff;
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }
  .section-list {
    .list-tecnologies {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      .item-tecnology:nth-child(1) {
        animation-delay: 0.1s;
      }
      .item-tecnology:nth-child(2) {
        animation-delay: 0.3s;
      }
      .item-tecnology:nth-child(3) {
        animation-delay: 0.1s;
      }
      .item-tecnology:nth-child(4) {
        animation-delay: 0.3s;
      }
      .item-tecnology:nth-child(5) {
        animation-delay: 0.1s;
      }
      .item-tecnology:nth-child(6) {
        animation-delay: 0.3s;
      }
      .item-tecnology:nth-child(7) {
        animation-delay: 0.1s;
      }
      .item-tecnology {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        transition: 0.5s;  
        animation: 1s elementos alternate infinite; 
        span {
          font-family: "Inconsolata", monospace;
          font-size: 20px;
        }
      }
    }
  }
}

@keyframes elementos {
  to {
    transform: translateY(0);
  }
  from {
    transform: translateY(-15px);
  }
}
.section-skills.dark {
  .section-list {
    .list-tecnologies {
      .item-tecnology {
        span {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section-skills {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .section-skills {
    width: 100%;
  }
}
