.section-skills {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 10px;
  display: grid;
  gap: 30px;
  padding-bottom: 100px;
  .title-skills {
    font-size: 30px;
    color: #0070f2;
    text-align: start;
    font-family: "Roboto Mono", monospace;
  }
  .section-list {
    width: 100%;
    height: auto;
    display: flex;
    gap: 16px;
    .cont-details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .text {
        font-family: "Inconsolata", monospace;
        font-size: 18px;
        color: #000;
        text-align: start;
        line-height: 1.3;
      }
      .list-tecnologies {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        .item-tecnology {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 10px;
          transition: 0.5s;
          text-wrap: balance;
          .icono-tec {
            transition: transform 0.5s;
            &:hover {
              transition: transform 0.5s;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

.section-skills.dark {
  .section-list {
    .cont-details {
      .text {
        color: #a0a0a0;
      }
    }
  }
}
@media (max-width: 1180px) {
  .section-skills {
    .section-list {
      flex-wrap: wrap;
      .img-skill {
        margin: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-skills {
    width: 100%;
    .section-list {
      .img-skill {
        width: 100%;
        height: 300px;
      }
    }
  }
}

@media (max-width: 425px) {
  .section-skills {
    width: 100%;
  }
}
