---
import Header from "../components/Header.astro";
import SectionAboutme from "../components/SectionAboutme.astro";
import SectionFooter from "../components/SectionFooter.astro";
import SectionGrilla from "../components/SectionGrilla.astro";
import SectionMain from "../components/SectionMain.astro";
import SectionProjects from "../components/SectionProjects.astro";
import SectionSkills from "../components/SectionSkills.astro";
import Layout from "../layouts/Layout.astro"; 
import "../styles/main.css";
---

<Layout>
	<main class="main">
		<Header />
		<SectionMain />
		<SectionProjects />
		<SectionSkills />
		<SectionAboutme />
		<SectionGrilla />
		<SectionFooter />
	</main>
</Layout>
