---
import "../styles/section-main.css";
---

<section class="section-main" id="main" data-aos="zoom-in" data-aos-delay="500">
    <div class="fondo-gradiente"></div>
    <div class="container-main">
        <p class="badge">Disponible</p>
        <h1 class="title-section-main">Dario Martinez</h1>
        <h2 class="subtitle-section-main">Desarrollador Web Front-end</h2>
        <p class="details-section-main">Me especializo en crear interfaces web <b id="text"></b><span id="cursor" class="cursor">|</span></p>
    </div>
</section>

<script src="../libs/typeWriter.js"></script>
