---
import "../styles/footer.css";
---

<footer class="section-footer">
    <img src="/logo.png" alt="logo" width="50" height="50" class="logo-footer" /> 
    <h3 class="title-footer">Dario Martinez 2024 </h3>
</footer>