---
import "../styles/aboutme.css";
import iconTitle from "../assets/icons/icon-title.svg";
---

<section class="section-about" id="sobre-mi" data-aos="fade-up" data-aos-delay="500">
    <h2 class="title-section-about">
        Sobre mí
        <img src={iconTitle.src} alt="chevron title" width="20" height="20" loading="lazy" />
    </h2>
    <div class="container-details">
        <p class="details-section-about">
            Soy Desarrollador Web Front-end, con conocimientos también en <b class="b">Back-end</b>. Diseño y construyo interfaces rápidas, eficientes e intuitivas, me adapto rápidamente a nuevos <b class="b">proyectos</b> y <b class="b">tecnologías</b>. Cuido cada detalle del proyecto, como: <b class="b">escalabilidad</b>, <b class="b">optimización</b> y <b class="b">legibilidad</b> antes de desarrollar.
         </p>
         <br>
         <p class="details-section-about">
            En la creación de <b class="b">aplicaciones</b>, busco siempre innovar y de esa forma ganar más <b class="b">experiencia</b>,  siguiendo el camino de lo optimo, escalable y siguiendo buenas prácticas. Antes de <b class="b">desarrollar planifico</b>, tanto diseño como la estructura del proyecto, el manejo de datos y luego comienzo a desarrollar, de esa forma priorizo la <b class="b">legibilidad</b> y lo <b class="b">simple</b>
         </p>
         <br>
         <p class="details-section-about">
            A la hora de desarrollar uso herramientas como <b class="b">reactJS  </b> o <b class="b">nextJS</b> junto con <b class="b">typescript</b> para el front-end, y para algo más simple uso <b class="b">astro</b>, para el back-end uso <b class="b">nodeJS con expressJS</b>, para base de datos <b class="b">postgreSQL</b> o <b class="b">mySQL</b>. También el testing trabajo con <b class="b">jest, testing-library</b> o <b class="b">vitest</b>
         </p>
         <br>
         <p class="details-section-about">
            Trabajo diariamente con tecnologías como <b class="b">git y github</b> por lo que el ingreso y <b class="b">adaptación</b> a un nuevo grupo de trabajo no es problema. aplicando metodologías <b class="b">AGILE como SCRUM.</b> De igual forma me mantengo actualizado con las últimas novedades con las herramientas de uso diario. Estudio <b class="b">ingles</b> teniendo un <b class="b">ingles técnico</b> actualmente y conversacional
         </p>
    </div>
</section>
