---
import "../styles/aboutme.css";
import iconTitle from "../assets/icons/icon-title.svg";
import imageLogo from "../assets/images/mockup.png"; 
---

<section class="section-about" id="sobre-mi" data-aos="fade-up" data-aos-delay="500">
    <h2 class="title-section-about">
        Sobre mí
        <img src={iconTitle.src} alt="chevron title" width="20" height="20" />
    </h2>
    <div class="container-details">
        <p class="details-section-about">
            Soy Desarrollador Web FullStack, especializado en <b class="b">Front-end</b>. Diseño interfaces rápidas, eficientes e intuitivas. Me adapto rápidamente a nuevos <b class="b">proyectos</b> y <b class="b">tecnologías</b>. Cuido cada detalle antes del código final, garantizando <b class="b">escalabilidad</b> y la mejor solución. Estudio diariamente para <b class="b">optimizar</b> el <b class="b">rendimiento</b> de las aplicaciones.
         </p>
    <img src={imageLogo.src} alt="logo personal" width="auto" height="auto" class="image-logo" />
    </div>

</section>
