---
import "../styles/aboutme.css";
import iconTitle from "../assets/icons/icon-title.svg";
---

<section class="section-about" id="sobre-mi">
    <h2 class="title-section-about">
        Sobre mí
        <img src={iconTitle.src} alt="chevron title" width="20" height="20" loading="lazy" />
    </h2>
    <div class="container-details">
        <b class="b"></b>
        <p class="details-section-about">
            Desarrollador Front-End con <b class="b">3 años de experiencia</b> en la creación de interfaces <b class="b">responsivas, escalables, intuitivas,
            interactivas y optimizadas.</b> Especializado en React, Javascript, HTML, CSS, TypeScript, con conocimientos en <b class="b">Back-End</b>, UX, accesibilidad y UI moderno. Enfocado en la <b class="b">experiencia del usuario, la optimización del rendimiento</b> y la
            escritura de código limpio y eficiente. Siempre en búsqueda de <b class="b">mejorar mis habilidades</b>, aplicar metodologías ágiles
            y desarrollar nuevas soluciones. 
         </p>
         <br>
         <p class="details-section-about">
            En la creación de <b class="b">aplicaciones</b>, busco siempre innovar y de esa forma ganar más <b class="b">experiencia</b>,  siguiendo el camino de lo optimo, escalable y siguiendo buenas prácticas. Antes de desarrollar <b class="b">planifico</b>, tanto diseño como la estructura del proyecto, el manejo de datos y de esa forma priorizo la <b class="b">rapidez</b>, <b class="b">legibilidad</b> y <b class="b">simpleza</b>
         </p>
         <br>
         <p class="details-section-about">
            Trabajo diariamente con tecnologías como <b class="b">git y github</b> por lo que el ingreso y <b class="b">adaptación</b> a un nuevo grupo de trabajo no es problema. aplicando metodologías <b class="b">AGILE como SCRUM.</b> De igual forma me mantengo actualizado con las últimas novedades con las herramientas de uso diario. Estudio <b class="b">ingles</b> teniendo actualmente un <b class="b">ingles técnico.</b>
         </p>
    </div>
</section>

<!--  



-->
