---
import "../styles/aboutme.css";
import iconTitle from "../assets/icons/icon-title.svg";
---

<section class="section-about" id="sobre-mi" data-aos="fade-up" data-aos-delay="500">
    <h2 class="title-section-about">
        Sobre mí
        <img src={iconTitle.src} alt="chevron title" width="20" height="20" loading="lazy" />
    </h2>
    <div class="container-details">
        <p class="details-section-about">
            Soy Desarrollador Web Front-end, con conocimientos también en <b class="b">Back-end</b>. Diseño y construyo interfaces rápidas, eficientes e intuitivas, me adapto rápidamente a nuevos <b class="b">proyectos</b> y <b class="b">tecnologías</b>. Cuido cada detalle del proyecto, como: <b class="b">escalabilidad</b>, <b class="b">optimización</b> y <b class="b">legibilidad</b> antes de desarrollar. Estudio diariamente para <b class="b">aprender</b> y <b class="b">mejorar</b> el rendimiento de las aplicaciones.
         </p>
         <br>
         <p class="details-section-about">
            Hago aplicaciones, que salgan de lo que suelo hacer, para <b class="b">abarcar</b> más temas a mi stack de aprendizaje, <b class="b">nuevos retos</b> y también aprender nuevas formas de crear, siguiendo siempre lo que sea más <b class="b">óptimo y legible posible</b>, y así, me mantengo al día con <b class="b">buenas practicas</b> tanto en planificación como en desarrollo.  
         </p>
         <br>
         <p class="details-section-about">
            A la hora de desarrollar uso herramientas como <b class="b">reactJS  </b> o <b class="b">nextJS</b> junto con <b class="b">typescript</b> para el front-end, y para algo más simple uso <b class="b">astro</b>, para el back-end uso <b class="b">nodeJS con expressJS</b>, para base de datos <b class="b">postgreSQL</b> o <b class="b">mySQL</b>. También el testing trabajo con <b class="b">jest, testing-library</b> o <b class="b">vitest</b>. 
            
         </p>
         <p class="details-section-about">
            Actualmente soy <b class="b">B1 en inglés</b> y tengo conocimientos en <b class="b">inglés técnico</b> para desarrollo web y programación
         </p>
    </div>
</section>
