---
import "../styles/section-main.css";
---

<section class="section-main" id="main">
    <div class="fondo-gradiente"></div>
    <div class="container-main">
        <p class="badge">Disponible</p>
        <h1 class="title-section-main">Dario Martinez</h1>
        <h2 class="subtitle-section-main">Desarrollador Web Front-end</h2>
        <div>
            <div class="loader">
              <p>Me especializo en crear interfaces web</p>
              <div class="words">
                <span class="word"></span>
                <span class="word">Rápidas</span>
                <span class="word">Intuitivas</span>
                <span class="word">Optimas</span>
                <span class="word">Escalables</span>
                <span class="word">Interactivas</span>
              </div>
            </div>
          </div>
    </div>
</section>

